#########################################
# directories
#########################################


bin/


#########################################
# files
#########################################


AuctionHub-server.config.toml


#########################################
# regular expressions
#########################################
